<div class="container">

    <form [formGroup]="addForm">
      <div class="row mb-3">
        <div class="col-12">
          <h5>Добавить студента</h5>
        </div>
        <div class="col-3 mt-3">
          <input
            class="form-control"
            type="text"
            placeholder="Фамилия"
            formControlName="surname"
          />
        </div>
        <div class="col-3 mt-3">
          <input
            class="form-control"
            type="text"
            placeholder="Имя"
            formControlName="name"
          />
        </div>
        <div class="col-3 mt-3">
            <input
              class="form-control"
              type="text"
              placeholder="Отчество"
              formControlName="patronymic"
            />
        </div>
        <div class="col-3 mt-3">
          <input
          [textMask]="{mask: phoneMask}"
          class="form-control"
          type="text"
          placeholder="Телефон"
          formControlName="phone"
          />
        </div>
        <div class="col-3 mt-3">
          <input
          class="form-control"
          type="text"
          placeholder="Почта"
          formControlName="email"
          />
        </div>
        <div *ngIf="(addForm.get('email').touched && addForm.get('email').invalid)">
          <small class="text-danger">Введите корректный адрес электронной почты</small>
        </div>
        <div class="col-3 mt-3">
          <input
          
          class="form-control"
          type="date"
          placeholder="Дата рождения"
          formControlName="birthdate"
          />
        </div>
        <div class="col-3 mt-3">
          <select class="custom-select" formControlName = "selectGroup">
            <option *ngFor="let group of groups" [ngValue]="group">{{ group.group }}</option>
          </select>
        </div>
        <div class="col-3 mt-3">
          <select class="custom-select" formControlName = "selectDirection">
            <option *ngFor="let direction of directions" [ngValue]="direction">{{ direction.direction }}</option>
          </select>
        </div>
        
      </div>
      <div class="row mb-3 justify-content-center">
    
        <div class="">
          <button class="btn btn-outline-primary" [disabled]="addForm.invalid" (click)="onAddStudent()">Добавить</button>
        </div>
      </div>
    </form>
  
  
  </div>